header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button#toggleTheme {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    border: none;
    cursor: pointer;
}

button#toggleTheme.active {
    background-color: #fff;
}

.dark-mode header {
    background-color: #333;
    color: #f5f5f5;
}

.dark-mode button#toggleTheme {
    background-color: #f5f5f5;
    color: #333;
}
